body {
    background-color: rgb(245, 225, 203);
}

.a-nav {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16;
    margin-right: 10px;
}

.a-for {
    color: cornflowerblue;
    font-weight: 700;
    padding: 5px;
    width: 20%;
}

.a-for:hover {
    color: brown;
    font-weight: bold;
}

.a-page:link {
    color: white;
    text-decoration: none;
    background: cornflowerblue;
    padding: 25px 10px;
    width: 20%;
}

.a-page:hover {
    background: darkblue;
    color: yellow;
}

.a-page:visited {
    color: rgb(102, 99, 105)
}

.a-page:active {
    color: blueviolet;
    background: rgb(195, 212, 241);
    text-decoration: underline;
}

.abth {
    padding: 50px;
    margin: 10px;
    font-size: 18;
}

th.th-first {
    margin: 50px; 
    padding: 30px;
    color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 20;
}

td.td-first {
    padding: 30px;
    color: firebrick;

}

#idMainH {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(245, 225, 203); */
    background-color: whitesmoke;
}

h1 {
    font-size: xx-large;
    color: firebrick;
    font-style: inherit;
    line-height: 30px;
    text-align: center;
}

ul, ol, dl {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#divHintMsvr {
    margin: 10px;
    padding: 1px;
    border: 1px solid #04AA6D;
    background-color: antiquewhite;
    display: none;
    position: absolute;
}

.highlight {
    color: #04AA6D;
}

#divRelTarget {
    margin: 10px;
    padding: 1px;
    border: 1px solid #04AA6D;
    background-color: antiquewhite;
    display: none;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
}

#divMoveTo {
    margin-left: 60px; 
    width: 334px; 
    height: 334px; 
    text-align: center; 
    color: brown;
    font-weight: 800;
    border: 5px solid cornflowerblue; 
    background-image: url(../img/div-background.jpg);  
    background-repeat: no-repeat;
    background-size: cover;    
}